# this is a comment
# each line is a file pattern followed by one and more owners.

# the repo. unless a later match takes precedence,
# @ibrahimplanner will be requested for 
# review when someone opens a pull request
* @ibrahim-planner 
